snippet #!
	#!/usr/bin/env node
	'use strict'
snippet req
	const ${1:module} = require('${2:path}$1');${3}
snippet proto
	${1:class_name}.prototype.${2:method_name} =
	function (${3}) {
		${4}
	}${5:}
