snippet #!
	#!/usr/bin/env perl

	use v5.30;
	use open IO => ":locale";
	use experimental qw[signatures switch];

	$1
snippet class
	package ${1:ClassName};

	use base qw(${2:ParentClass});

	sub new {
		my ($class) = @_;
		$class = ref $class if ref $class;
		my $self = bless {}, $class;
		$self;
	}

snippet pod
	=pod

	=head1 ${1}

	${2}

	=cut
	${3}
