snippet #!
	#!/usr/bin/env perl -w

	use v5.026;
	use strict;
	use warnings;
	use utf8;
	binmode STDIN, ":encoding(utf-8)";
	binmode STDOUT, ":encoding(utf-8)";

	$1
snippet class
	package ${1:ClassName};

	use base qw(${2:ParentClass});

	sub new {
		my ($class) = @_;
		$class = ref $class if ref $class;
		my $self = bless {}, $class;
		$self;
	}

snippet pod
	=pod

	=head1 ${1}

	${2}

	=cut
	${3}
