snippet @
	/**
	 * @file        ${1}
	 *
	 * @date        `strftime("%Y-%m-%d")`
	 *
	 * @author      `g:snips_author`
	 */
	${2}
snippet /**
	/**
	 * ${1}
	 */
	${2}
snippet main
	fn main() {
	    ${1}
	}
snippet fn
	fn ${1}(${2}) ${3}{
	    ${4}
	}
snippet {
	{
	    ${1}
	}
